html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
  }
  .grass, .sky, .road{
    position: relative;
  }
  .sky{
    height: 40%; background: skyblue;
  }
  .grass{
    height: 30%;
    background: seagreen;
  }
  .road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
  }
  .lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 60%;
  }
  
  .mario{
    position: absolute;
    animation-name: mario;
    animation-duration: 12s;
    animation-direction: alternate;
    
  }
  @keyframes mario {
    0% {
      transform: translateY(200px);
    }
    
    100% {
      transform: translate(1600px);
    }
  }
  
  .luigi {
    position: absolute;
    animation-name: luigi;
    animation-duration: 20s;
    animation-direction: alternate;

   
  }
  @keyframes luigi {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(1600px);
    }
  }
  .cloud {
    position: absolute;
    animation-duration: 25s;
    animation-direction: alternate;
    animation-name: cloud;
  }
  @keyframes cloud {
    0% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(1400px);
    }
  }
